.main_app_all_of_it {
	font-family: "Merriweather", serif;
	text-align: start;
	margin-left: 10vw;
	margin-right: 10vw;
	.main_app_main_header {
		margin-bottom: 3vw;
		font-weight: bold;
	}
	.main_app_value {
		font-weight: bold;
	}
}
