.main_navbar_all_of_it {
	.navbar {
		.container-fluid {
			.collapse {
				.navbar-nav {
					.nav-item {
						.nav-link {
							text-decoration: none;
							color: white;
							margin: 10px;
						}
					}
				}
			}
		}
	}
}
